<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

<p>
    Splurty was built by <a target="_blank" href="https://github.com/GhostlyMire">David Swanson</a>. His very first web application, he stamps it along his portfolio as one of his steps of his journey into the coding world.
  </p>
  <br />
  <p>
    His desire to bring his ideas to life is his motivation to go further in delving into the coding world, specifically in the web application and game world.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'ghostly.png', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">David Swanson</h2>
    <br />
    <p>
      David Swanson is an aspiring developer that focuses precisely on vibes, the consumer experience. He spends lots of his work time dedicated to this effort, to esnure that the experience is kept in a reliable, enjoyable, cohrent, and smooth manner.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />